<!DOCTYPE html>
<html {{site.language_attributes}}>
  <head>
  <meta charset="{{site.charset}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- wp header -->
  {{ function('wp_head') }}
  <!-- /wp header -->
  
  </head>
  
  <!-- body classes go here -->
  <body class="{{ body_class }}" data-template="base.twig">

    <!-- main site wrapper -->
    <div id="SiteWrapper" class="site-wrapper">
      
      <!-- header -->
      {% block header %}
      {% include 'header.twig' %}
      {% endblock %}
      <!-- /header -->
    
      <!-- content -->
      <main role="main" id="MainContent">
        {% block content %}
        <p>Sorry, Nothing to Display!!</p>
        {% endblock %}
      </main>
      <!-- /content -->

      <!-- footer -->
      {% block footer %}
      {% include 'footer.twig' %}
      {% endblock %}
      <!-- /footer -->

    </div>
    <!-- /main site wrapper -->
    
    <!-- wp footer -->
    {{ function('wp_footer') }}
    <!-- /wp footer -->
    
  </body>
  <!-- /body -->
</html>