<!DOCTYPE html>
<html {{site.language_attributes}}>
  <head>
  <meta charset="{{site.charset}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- wp header -->
  
  {{ function('wp_head') }}
  <!-- /wp header -->
  
  <style>
    header.default-header {
      box-shadow: 0px 3px 5px -1px #9898986e;
    }

    nav.nav-scroll {
      position: relative;
      z-index: 2;
      height: 2rem;
      box-sizing: border-box;
      overflow-y: hidden;
      padding: 1rem;
      border-top: 1px solid rgba(0, 0, 0, 0.075);
      line-height: 1em;
    }

    nav.nav-scroll>ul {
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      padding-bottom: 1rem;
    }

    nav.nav-scroll>ul>li>a {
      font-weight: 500;
    }

    .news-slide>li>.uk-card {
      box-shadow: none;
      border: 1px solid rgba(0, 0, 0, 0.075);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 700;
    }

    .uk-logo>img {
      height: 58px;
    }

    #header.uk-sticky-below {
      box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.07);
    }
  </style>
  </head>
  
  <!-- body classes go here -->
  <body class="{{ body_class }}" data-template="base.twig">

    <!-- main site wrapper -->
    <div id="SiteWrapper" class="site-wrapper">
      
      <!-- header -->
      {% block header %}
      {% include 'header.twig' %}
      {% endblock %}
      <!-- /header -->
    
      <!-- content -->
      <main role="main" id="MainContent">
        {% block content %}
        <p>Sorry, Nothing to Display!!</p>
        {% endblock %}
      </main>
      <!-- /content -->

      <!-- footer -->
      {% block footer %}
      {% include 'footer.twig' %}
      {% endblock %}
      <!-- /footer -->

    </div>
    <!-- /main site wrapper -->
    
    <!-- wp footer -->
    
    {{ function('wp_footer') }}
    <!-- /wp footer -->
    
  </body>
  <!-- /body -->
</html>