{% extends "base.twig" %}

{% block content %}

  <div data-template="page-home.twig">

    <section class="uk-section uk-section-small home-hero-section">
      <div class="uk-container">
        
        {% if home_hero is not empty %}
          <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider>
            <ul class="uk-slider-items uk-child-width-1-1">
              {% for post in home_hero %}
                <li>
                  <div id="post-{{post.ID}}" class="uk-height-large uk-cover-container theme-border {{ post.class }}">
                    <img data-src="{{ post.thumbnail.src('starter-theme-hero-image') }}" alt="{{ post.thumbnail.alt }}" data-width data-height uk-cover uk-img>
                    <div class="uk-overlay uk-overlay-primary uk-position-cover uk-flex uk-flex-center uk-flex-middle uk-light uk-text-center">
                      <div>
                        <span class="uk-label home-hero-label">{{ __('Featured Article', 'starter-wp-theme') }}</span>
                        <h1 class="uk-margin-top uk-margin-small-bottom uk-margin-remove-adjacent uk-text-bold">{{post.title}}</h1>
                        <div class="uk-container uk-container-small">{{ post.preview.length(25).read_more('') }}</div>
                        <a href="{{post.link}}" class="uk-button uk-button-default uk-margin-top">{{ __('Go to Article', 'starter-wp-theme') }}</a>
                      </div>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
          </div>
        {% else %}
          <div class="uk-background-muted uk-height-large uk-cover-container">
            <div class="uk-flex uk-flex-center uk-flex-middle uk-text-center uk-position-cover">
              <div>
                <h1 class="uk-text-bold"><span>{{ __('Homepage Hero Section', 'starter-wp-theme') }}</span></h1>
                <div class="uk-container uk-container-small">
                  <p>{{ __('No posts found. This section shows your most recent sticky post. Add a post, make it sticky & dont forget to add a featured image.', 'starter-wp-theme') }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      
      </div>
    </section>

    <section class="uk-section uk-section-small home-featured-section">
      <div class="uk-container">
        
        {% if home_featured is not empty %}
          <h2 class="uk-heading-line uk-text-bold"><span>{{ __('Featured Articles', 'starter-wp-theme') }}</span></h2>
          <div uk-slider="velocity: 5">
            <div class="uk-position-relative">
              <div class="uk-slider-container">
                <ul class="uk-slider-items uk-child-width-1-2@m uk-grid uk-grid-medium news-slide">
                  {% for post in home_featured %}
                    <li>
                      <div id="post-{{post.ID}}" class="uk-card uk-card-body uk-card-small uk-flex uk-flex-middle theme-border {{ post.class }}">
                        <div class="uk-grid uk-grid-medium uk-flex uk-flex-middle" uk-grid>
                          <div class="uk-width-1-3@s uk-width-2-5@m uk-height-1-1">
                            <img class="tease-feature-related" data-src="{{ post.thumbnail.src('starter-theme-post-slider-image') }}" alt="{{ post.thumbnail.alt }}" data-width data-height uk-img>
                          </div>
                          <div class="uk-width-2-3@s uk-width-3-5@m">
                            <span class="uk-label home-featured-label">{{ __('Featured Article', 'starter-wp-theme') }}</span>
                            <h3 class="uk-card-title uk-margin-small-top uk-margin-remove-bottom">
                              <a class="uk-link-reset uk-text-bold" href="{{post.link}}">{{post.title}}</a>
                            </h3>
                            <span class="uk-article-meta">{{ __('Published on', 'starter-wp-theme') }} {{post.date | date}}</span>
                          </div>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="uk-visible@xl">
                <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"><span class="uk-hidden">Previous</span></a>
                <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"><span class="uk-hidden">Next</span></a>
              </div>
            </div>
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
          </div>
        {% else %}
          <div class="uk-background-muted uk-padding">
            <h2 class="uk-text-bold"><span>{{ __('Featured Articles', 'starter-wp-theme') }}</span></h2>
            <p class="uk-margin-remove-bottom">{{ __('No posts found. This section shows your next 3 most recent sticky posts. Add some more posts, make them sticky & dont forget to add featured images.', 'starter-wp-theme') }}</p>
          </div>
        {% endif %}
      
      </div>
    </section>

    <section class="uk-section uk-section-small home-posts-section">
      <div class="uk-container">
        <div class="uk-grid-large" uk-grid>
          
          <div class="uk-article uk-width-2-3@m">
            {% if posts is not empty %}
              <h3 class="uk-text-bold">{{ __('More Articles', 'starter-wp-theme') }}</h3>
              <div class="archive-posts">
                {% for post in posts %}
                  {% include 'tease.twig' %}
                {% endfor %}
              </div>
            {% else %}
              <div class="uk-background-muted uk-padding">
                <h3 class="uk-text-bold"><span>{{ __('More Articles', 'starter-wp-theme') }}</span></h3>
                <p class="uk-margin-remove-bottom">{{ __('No posts found. This section shows your 4 most recent non-sticky posts. Add some more posts & add featured images.', 'starter-wp-theme') }}</p>
              </div>
            {% endif %}
            
            {% include 'pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}

          </div>

          {% include 'sidebar.twig' %}

        </div>
      </div>
    </section>
    
  </div>

{% endblock %}