{% extends "base.twig" %}

{% block content %}

<section class="uk-section uk-section-small">
  <article id="post-{{post.ID}}" class="uk-article {{post.class}}">

    <div class="uk-container uk-container-xsmall uk-section uk-section-xsmall">
      <h1 class="uk-text-bold uk-h1 uk-margin-remove-adjacent uk-margin-remove-top ">{{ post.title }}</h1>
      <p class="uk-article-meta ">Written on {{post.date | date}}. Posted in 
        {% for category in post.categories %}
          {% if not loop.last %}
            <a title="{{ category }}" href="{{ category.link }}">{{ category }}</a>,
          {% endif %}
          {% if loop.last %}
            <a title="{{ category }}" href="{{ category.link }}">{{ category }}</a>
          {% endif %}
        {% endfor %}
      </p>
    </div>

    <div class="uk-section uk-section-xsmall">
    {{ post.content }}
    </div>
    
    {% if post.comments and post.post_type == 'post' and if_comments_open %}
    <div class="uk-container uk-container-small uk-section uk-section-xsmall">
    {% include 'comments.twig' %}
    </div>
    {% endif %}

  </article>
</section>


{% if related_articles|length > 2 %}
<section class="uk-section home-featured-section">
  <div class="uk-container">
    <h2 class="uk-heading-line uk-text-bold"><span>Related Articles</span></h2>
    <div uk-slider="velocity: 5">
      <div class="uk-position-relative">
        <div class="uk-slider-container">
          <ul class="uk-slider-items uk-child-width-1-2@m uk-grid uk-grid-medium news-slide">
            {% for post in related_articles %}
            {% include 'tease-related-article.twig' %}
            {% endfor %}
          </ul>
        </div>
        <div class="uk-visible@xl">
          <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"><span class="uk-hidden">Previous</span></a>
          <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"><span class="uk-hidden">Next</span></a>
        </div>
      </div>
      <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>
  </div>
</section>
{% endif %}

{% if if_posts_more_than_one and post.post_type == 'post' %}
{% include 'bottom-bar.twig' %}
{% endif %}

{% endblock %}