{% extends "base.twig" %}

{% block content %}

<div class="uk-section" data-template="single.twig">
  <div class="uk-container">
    <div class="uk-grid-large" uk-grid>
    
      <article id="post-{{post.ID}}" class="uk-article uk-width-2-3@s {{post.class}}">
        
        <h1 class="uk-article-title">{{ post.title }}</h1>
        
        <p class="uk-article-meta">
          Written on {{post.date | date}}.
          {% if post.post_type == "post" %}Posted in
            {% for category in post.categories %}
              {% if not loop.last %}
                <a title="{{ category }}" href="{{ category.link }}">{{ category }}</a>,
              {% endif %}
              {% if loop.last %}
                <a title="{{ category }}" href="{{ category.link }}">{{ category }}</a>
              {% endif %}
            {% endfor %}
          {% endif %}
        </p>
        
        {% if post.thumbnail %}
        <figure>
          <img data-src="{{ post.thumbnail.src('starter-theme-featured-image-archive') }}" width="800" height="300" alt="{{ post.thumbnail.alt }}" uk-img>
        </figure>
        {% endif %}

        {{ post.content }}
        
        {% if post.comments and post.post_type == 'post' %}
        <h3 class="uk-margin-large-top">Comments</h3>
        <!-- comment box -->
        <section id="CommentBox">
        <ul class="uk-comment-list">
        {% if post.comments %}
          {% for comment in post.comments %}
            {% include "comment.twig" %}
          {% endfor %}
        {% endif %}
        </ul>

        {% if post.comment_status == "closed" %}
        <p>Comments are closed for this post.</p>
        {% else %}
        <!-- comment form -->
        <div id="CommentForm" class="uk-margin-large-top">
        <h4>Post a new Comment</h4>
        {% include "comment-form.twig" %}
        </div>
        {% endif %}

        </section>

        {% endif %}

      </article>

      {% include 'sidebar.twig' %}

    </div>
  </div>
</div>

{% endblock %}