{% extends "base.twig" %}

{% block content %}

<div class="uk-section" data-template="single.twig">
  <div class="uk-container">
    <div class="uk-grid-large" uk-grid>
      
      {% if is_left_sidebar %}
      {% include 'sidebar-left.twig' %}
      {% endif %}
    
      <article id="post-{{post.ID}}" class="post-type-{{ post.post_type }} uk-article {{ article_width_class }} {{post.class}}">
        
        <h1 class="uk-article-title">{{ post.title }}</h1>
        
        {% if post.post_type == "post" %}
        <p class="uk-article-meta">
          Written on {{post.date | date}}.
          Posted in 
          {% for category in post.categories %}
            {% if not loop.last %}
              <a title="{{ category }}" href="{{ category.link }}">{{ category }}</a>,
            {% endif %}
            {% if loop.last %}
              <a title="{{ category }}" href="{{ category.link }}">{{ category }}</a>
            {% endif %}
          {% endfor %}
        </p>
        {% endif %}
        
        {% if post.thumbnail %}
        <figure>
          <img data-src="{{ post.thumbnail.src('starter-theme-featured-image-archive') }}" width="800" height="300" alt="{{ post.thumbnail.alt }}" uk-img>
        </figure>
        {% endif %}

        {{ post.content }}
        
        {% if post.comments and post.post_type == 'post' and if_comments_open %}
        {% include 'comments.twig' %}
        {% endif %}

      </article>

      {% if is_right_sidebar %}
      {% include 'sidebar.twig' %}
      {% endif %}

    </div>
  </div>
</div>

{% if if_posts_more_than_one and post.post_type == 'post' %}
{% include 'bottom-bar.twig' %}
{% endif %}

{% endblock %}