<li>
    <article class="uk-comment uk-comment-primary uk-border-rounded uk-visible-toggle" tabindex="-1">
      <header class="uk-comment-header uk-position-relative">
          <div class="uk-grid-medium uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                  <img class="uk-comment-avatar" src="{{comment.avatar}}" width="80" height="80" alt="">
              </div>
              <div class="uk-width-expand">
                  <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{comment.author.name}}</a></h4>
                  <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">{{post.date|time_ago}}</a></p>
              </div>
          </div>
          <div class="uk-position-top-right uk-position-small uk-hidden-hover">
            <a class="uk-link-muted" href uk-toggle="target: #comment-reply-box{{ loop.index }}; animation: uk-animation-fade">Reply</a>
          </div>
      </header>
      <div class="uk-comment-body">
          <p>{{comment.content}}</p>
          <div id="comment-reply-box{{ loop.index }}" class="" hidden>
          <h4 class="uk-heading-line"><span>Reply to this Comment</span></h4>
          {% include "comment-form.twig" %}
          </div>
      </div>
    </article>
    {% for comment in comment.children %}
    <ul>
        <li>
            <article class="uk-comment uk-comment-primary uk-border-rounded uk-visible-toggle" tabindex="-1">
              <header class="uk-comment-header uk-position-relative">
                  <div class="uk-grid-medium uk-flex-middle" uk-grid>
                      <div class="uk-width-auto">
                          <img class="uk-comment-avatar" src="{{comment.avatar}}" width="80" height="80" alt="">
                      </div>
                      <div class="uk-width-expand">
                          <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{comment.author.name}}</a></h4>
                          <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">{{post.date|time_ago}}</a></p>
                      </div>
                  </div>
                  <div class="uk-position-top-right uk-position-small uk-hidden-hover">
                    <a class="uk-link-muted" href uk-toggle="target: #comment-reply-nested2; animation: uk-animation-fade">Reply</a>
                  </div>
              </header>
              <div class="uk-comment-body">
                  <p>{{comment.content}}</p>
                  <div id="comment-reply-nested2" class="" hidden>
                  <h4 class="uk-heading-line"><span>Reply to this Comment</span></h4>
                  {% include "comment-form.twig" %}
                  </div>
              </div>
            </article>
            {% for comment in comment.children %}
            <ul>
                <li>
                  <article class="uk-comment uk-comment-primary uk-border-rounded uk-visible-toggle" tabindex="-1">
                    <header class="uk-comment-header uk-position-relative">
                        <div class="uk-grid-medium uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-comment-avatar" src="{{comment.avatar}}" width="80" height="80" alt="">
                            </div>
                            <div class="uk-width-expand">
                                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{comment.author.name}}</a></h4>
                                <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">{{post.date|time_ago}}</a></p>
                            </div>
                        </div>
                        <div class="uk-position-top-right uk-position-small uk-hidden-hover">
                          <a class="uk-link-muted" href uk-toggle="target: #comment-reply-nested3; animation: uk-animation-fade">Reply</a>
                        </div>
                    </header>
                    <div class="uk-comment-body">
                        <p>{{comment.content}}</p>
                        <div id="comment-reply-nested3" class="" hidden>
                        <h4 class="uk-heading-line"><span>Reply to this Comment</span></h4>
                        {% include "comment-form.twig" %}
                        </div>
                    </div>
                  </article>
                    {% for comment in comment.children %}
                    <ul>
                        <li>
                          <article class="uk-comment uk-comment-primary uk-border-rounded uk-visible-toggle" tabindex="-1">
                            <header class="uk-comment-header uk-position-relative">
                                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                    <div class="uk-width-auto">
                                        <img class="uk-comment-avatar" src="{{comment.avatar}}" width="80" height="80" alt="">
                                    </div>
                                    <div class="uk-width-expand">
                                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{comment.author.name}}</a></h4>
                                        <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">{{post.date|time_ago}}</a></p>
                                    </div>
                                </div>
                                <div class="uk-position-top-right uk-position-small uk-hidden-hover">
                                  <a class="uk-link-muted" href uk-toggle="target: #comment-reply-nested4; animation: uk-animation-fade">Reply</a>
                                </div>
                            </header>
                            <div class="uk-comment-body">
                                <p>{{comment.content}}</p>
                                <div id="comment-reply-nested4" class="" hidden>
                                <h4 class="uk-heading-line"><span>Reply to this Comment</span></h4>
                                {% include "comment-form.twig" %}
                                </div>
                            </div>
                          </article>
                            {% for comment in comment.children %}
                            <ul>
                                <li>
                                  <article class="uk-comment uk-comment-primary uk-border-rounded uk-visible-toggle uk-padding" tabindex="-1">
                                    <header class="uk-comment-header uk-position-relative">
                                        <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <img class="uk-comment-avatar" src="{{comment.avatar}}" width="80" height="80" alt="">
                                            </div>
                                            <div class="uk-width-expand">
                                                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{comment.author.name}}</a></h4>
                                                <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">{{post.date|time_ago}}</a></p>
                                            </div>
                                        </div>
                                        <div class="uk-position-top-right uk-position-small uk-hidden-hover">
                                          <a class="uk-link-muted" href uk-toggle="target: #comment-reply-nested5; animation: uk-animation-fade">Reply</a>
                                        </div>
                                    </header>
                                    <div class="uk-comment-body">
                                        <p>{{comment.content}}</p>
                                        <div id="comment-reply-nested5" class="" hidden>
                                        <h4 class="uk-heading-line"><span>Thread limit reached</span></h4>
                                        <p>Sorry, comment thread/reply limit has been reached! Try posting a new comment below.</p>
                                        </div>
                                    </div>
                                  </article>
                                </li>
                            </ul>
                            {% endfor %}
                        </li>
                    </ul>
                    {% endfor %}
                </li>
            </ul>
            {% endfor %}
        </li>
    </ul>
    {% endfor %}
</li>
