<div class="comment-form">
    <form class="comment-form" id="comment-form-box" method="post" action="{{ site.site_url|e('esc_url') ~ '/wp-comments-post.php' }}">
        <fieldset class="uk-fieldset">
          {% if user %}
            <input type="hidden" name="email" value="{{ user.email|e('html_attr') }}">
            <input type="hidden" name="author" value="{{ user.name|e('html_attr') }}">
            <input type="hidden" name="url" value="{{ user.link|e('html_attr') }}">
          {% else %}
            <div class="uk-margin-small">
              <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-2@s">
                  <input class="uk-input" required name="author" type="text" placeholder="{{ __('Your name', 'ned-murphy-tractors-theme') }}">
                </div>
                <div class="uk-width-1-2@s">
                  <input class="uk-input" required name="email" type="email" id="email" placeholder="{{ __('Your email', 'ned-murphy-tractors-theme') }}">
                </div>
              </div>
            </div>
            <div class="uk-margin-small">
              <input class="uk-input" name="url" type="url" placeholder="{{ __('Your website address (including http:// or https://)', 'ned-murphy-tractors-theme') }}">
            </div>
          {% endif %}
          <textarea id="comment-form-box" class="uk-textarea" name="comment" placeholder="{{ __('Leave a message...', 'ned-murphy-tractors-theme') }}" cols="60" rows="8"></textarea>
          <input name="comment_post_ID" value="{{ post.id|e('html_attr') }}" type="hidden">
          <input name="comment_parent" value="{{ comment.id|e('html_attr')|default('0') }}" type="hidden">
          <div class="uk-margin-top">
            <button type="submit" name="Submit" class="uk-button uk-button-small uk-button-secondary">{{ __('Send', 'ned-murphy-tractors-theme') }}</button>
            <button type="reset" class="uk-button uk-button-small uk-button-default">{{ __('Clear', 'ned-murphy-tractors-theme') }}</button>
          </div>
        </fieldset>
    </form>
</div>