<div class="uk-padding pagi">
    <ul class="uk-pagination uk-flex-center">
        {% if pagination.prev %}
        <li>
            <a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}"><i uk-icon="icon: chevron-left"></i> Previous Page</a>
        </li>
        {% endif %}
        {% for page in pagination.pages %}
        <li>
            {% if page.link %}
                <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
            {% else %}
                <span class="{{page.class}}">{{page.title}}</span>
            {% endif %}
        </li>
        {% endfor %}
        {% if pagination.next %}
        <li>
            <a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}">Next Page <i uk-icon="icon: chevron-right"></i></a>
        </li>
        {% endif %}
    </ul>
</div>

<div class="scroll-loaders">
  <div class="page-load-status">
    <div class="loader-ellips infinite-scroll-request">
      <span class="loader-ellips__dot"></span>
      <span class="loader-ellips__dot"></span>
      <span class="loader-ellips__dot"></span>
      <span class="loader-ellips__dot"></span>
    </div>
    <p class="infinite-scroll-last">End of posts</p>
    <p class="infinite-scroll-error">No more posts to load</p>
  </div>
  
  <p><button class="view-more-button uk-button uk-button-default uk-align-center">Load More</button></p>
</div>
<script>
  var infScroll = new InfiniteScroll( '.archive-posts', {
    path: '.next',
    append: '.post',
    button: '.view-more-button',
    // using button, disable loading on scroll 
    scrollThreshold: false,
    status: '.page-load-status',
    hideNav: '.pagi'
  });
</script>