<div class="bottom-bar uk-section uk-section-xsmall uk-section-default uk-position-bottom uk-position-fixed theme-border-top">
  <div class="uk-container uk-text-small">
    <nav class="" uk-navbar>
        <div class="uk-navbar-left">
          <div class="uk-grid uk-grid-divider uk-grid-small" uk-grid>
            {% if post.next %}
            <div>
              <a href="{{ post.next.link }}" class="uk-link-reset"><span uk-icon="icon: arrow-left"></span> <strong>Next</strong></a>
            </div>
            {% endif %}
            {% if post.prev %}
            <div>
              <a href="{{ post.prev.link }}" class="uk-link-reset"><strong>Previous</strong> <span uk-icon="icon: arrow-right"></span><span class="uk-visible@m"> {{ post.prev.title }}</span></a>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="uk-navbar-right">
          <a href="https://facebook.com/sharer/sharer.php?u={{post.link}}" target="_blank" class="uk-icon-button uk-margin-small-right" uk-icon="facebook" Title="Sharing for Facebook"></a>
          <a href="https://twitter.com/home?status={{post.link}}" class="uk-icon-button  uk-margin-small-right" uk-icon="twitter"></a>
          <a href="mailto:?" class="uk-icon-button" uk-icon="mail" Title="Sharing for Email"></a>
        </div>
    </nav>
  </div>
</div>