<li>
  <div id="post-{{post.ID}}" class="uk-height-large uk-cover-container uk-border-rounded theme-border {{ post.class }}">
    <img data-src="{{ post.thumbnail.src('starter-theme-hero-image') }}" alt="{{ post.thumbnail.alt }}" data-width data-height uk-cover uk-img>
    <div class="uk-overlay uk-overlay-primary uk-position-cover uk-flex uk-flex-center uk-flex-middle uk-light uk-text-center">
      <div>
        <span class="uk-label home-hero-label">Latest Featured Article</span>
        <h1 class="uk-margin-top uk-margin-small-bottom uk-margin-remove-adjacent uk-text-bold">{{post.title}}</h1>
        <div class="uk-container uk-container-small">{{ post.preview.length(25).read_more('') }}</div>
        <a href="{{post.link}}" class="uk-button uk-button-default uk-margin-top">Go to Article</a>
      </div>
    </div>
  </div>
</li>