<div class="uk-navbar-left">
  {% if theme_logo_url %}
  <a class="uk-logo" title="{{ site.title }}" href="{{ site.url }}"><img data-src="{{ theme_logo_url }}" uk-img></a>
  {% else %}
  <a class="uk-navbar-item uk-logo uk-padding-remove uk-text-bold uk-text-emphasis" title="{{ site.title }}" href="{{ site.url }}">{{ site.title }}</a>
  {% endif %}
</div>