<div class="uk-navbar-center nav-overlay">
  <ul class="uk-navbar-nav uk-visible@m">
    {% if has_menu_main %}
      {% for item in menu_main.get_items %}
        {% if item.get_children %}
          <li class="{{ item.classes | join(' ') }}"><a href="{{ item.link }}">{{ item.title }}<span data-uk-icon="icon: triangle-down"></span></a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                {% for child in item.get_children %}
                <li><a href="{{ child.get_link }}">{{ child.title }}</a>
                  {% if child.children %}
                    <ul class="uk-nav-sub">
                      {% for third in child.children %}
                        <li>
                          <a href="{{ third.get_link }}">{{ third.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>
          </li>
        {% else %}
          <li class="{{ item.classes | join(' ') }}"><a href="{{ item.get_link }}">{{ item.title }}</a></li>
        {% endif %}
      {% endfor %}
    {% else %}
      <li>Add a menu to the Main Menu slot in Appearance > Menus.</li>
    {% endif %}
  </ul>
</div>