<div data-uk-offcanvas="flip: true; overlay: true" id="offcanvas-nav">
  <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide rmcc-border-left">
    <button class="uk-offcanvas-close uk-close uk-icon" data-uk-close type="button" title="Close the Mobile Menu"><span class="uk-hidden">Close</span></button>
    <ul class="uk-nav uk-nav-default">
      {% if has_menu_mobile %}
        {% for item in menu_mobile.get_items %}
          {% if item.get_children %}
            <li class="uk-parent {{ item.classes | join(' ') }}">
              <a href="#">{{ item.title }}</a>
              <ul class="uk-nav-sub">
                {% for child in item.get_children %}
                  <li>
                    <a href="{{ child.get_link }}">{{ child.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="{{ item.classes | join(' ') }}">
              <a href="{{ item.get_link }}">{{ item.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      {% else %}
        <li>Add a menu to the Mobile Menu slot in Appearance > Menus.</li>
      {% endif %}
      <button class="uk-button uk-button-default uk-margin-top uk-width-1-1 uk-margin-small-bottom" type="button" uk-toggle="target: body; cls: dark-style uk-light">Toggle Class</button>
    </ul>
  </div>
</div>